html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

main {
  position: relative;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);

  position: absolute;

  transition: box-shadow .3s linear;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;

  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 5;

  box-shadow: 5px 8px 10px rgba(0, 0, 0, .5);
}

figure:nth-child(1) {
  transform: rotate(-15deg);
  z-index: -1;

  position: absolute;
  top: 6rem;
  left: 13rem;
}

figure:nth-child(2) {
  transform: rotate(5deg);
  z-index: 2;

  position: absolute;
  top: 9rem;
  left: 18rem;
}

figure:nth-child(3) {
  transform: rotate(30deg);
  z-index: 1;

  position: absolute;
  top: 6rem;
  left: 24rem;
}
