html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

main {
  position: relative;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);

  position: relative;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;

  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

figure:nth-child(1) {
  transform: rotate(-15deg);
  z-index: -1;

  position: absolute;
  top: 5rem;
  left: 9rem;
}

figure:nth-child(2) {
  transform: rotate(5deg);
  z-index: 2;

  position: absolute;
  top: 8rem;
  left: 15rem;
}

figure:nth-child(3) {
  transform: rotate(25deg);
  z-index: 1;

  position: absolute;
  top: 5rem;
  left: 20rem;
}

figure:hover:nth-child(1),
figure:hover:nth-child(2),
figure:hover:nth-child(3) {
  transform: rotate(0deg);
  z-index: 5;
}
